<mat-accordion fxLayout="column"
               fxLayoutGap="10px">
    <container-element [ngSwitch]="type"
                       *ngFor="let d of data">
        <app-education-panel *ngSwitchCase="'education'"
                             [title]="d?.degree"
                             [subtitle]="d?.college_name"
                             [startDate]="d?.start_date"
                             [endDate]="d?.end_date"
                             [description]="d?.description"></app-education-panel>
        <app-experience-panel *ngSwitchCase="'experience'"
                              [title]="d?.position"
                              [subtitle]="d?.company_name"
                              [startDate]="d?.start_date"
                              [endDate]="d?.end_date"
                              [description]="d?.description"></app-experience-panel>
        <app-certificate-panel *ngSwitchCase="'certificate'"
                               [title]="d?.title"
                               [subtitle]="d?.company_name"
                               [startDate]="d?.expedition"
                               [endDate]="d?.end_date"
                               [url]="d?.credential_url"></app-certificate-panel>


    </container-element>


</mat-accordion>