<mat-accordion>
  <app-accordion-item *ngFor="let publication of publications"
                      [logo]="publication.editorial_logo"
                      [title]="publication.title"
                      [showEndDate]="false"
                      [showExpand]="publication.publication_url"
                      [startDate]="publication.publication_date">

    <app-accordion-content [publication_url]="publication.publication_url"
                           [certificate_url]="publication.certificate_url"></app-accordion-content>
  </app-accordion-item>
</mat-accordion>