:host {
  flex-direction: row;
  flex-wrap     : wrap;
  box-sizing    : border-box;
  display       : flex;
  height        : 100%;
  place-content : space-between center;
}

.responsive-image {
  width        : 100%;
  max-width    : 180px;
  height       : auto;
  border-radius: 50%;
  margin-top   : 1em;
  margin-bottom: 1em;
}

.copyrigth {
  margin-top : 5px;
  line-height: 14px;
  font-size  : 12px;
}

h1 {
  font-size    : 30px;
  margin-bottom: 10px;
  font-weight  : 600;
}

h4 {
  font-size  : 17px;
  font-weight: 300;
}