<mat-accordion fxLayout="column"
               fxLayoutGap="10px">
    <container-element [ngSwitch]="type"
                       *ngFor="let d of data">
        <app-publication-panel *ngSwitchCase="'publication'"
                               [title]="d?.title"
                               [subtitle]="d?.editorial"
                               [startDate]="d?.publication_date"
                               [endDate]="d?.end_date"
                               [publication]="d?.publication_url"
                               [url]="d?.certificate_url"></app-publication-panel>

        <app-award-panel *ngSwitchCase="'award'"
                         [title]="d?.title"
                         [subtitle]="d?.issuer"
                         [startDate]="d?.expedition"
                         [endDate]="d?.end_date"
                         [url]="d?.certificate_url"></app-award-panel>
    </container-element>


</mat-accordion>