<mat-card class="mat-elevation-z8">
    <mat-card-header fxLayout="row"
                     fxLayoutAlign="start center">
        <img mat-card-avatar
             [src]="image">
        <mat-card-title fxLayout="row"
                        fxLayoutAlign="center center">{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{description}}
    </mat-card-content>
    <mat-card-actions fxLayout="row"
                      fxLayoutGap="10px"
                      fxLayoutAlign="end center">
        <a mat-icon-button
           *ngFor="let link of links"
           [href]="link?.url"
           target="_blank">
            <fa-icon [icon]="[link?.font_set, link?.icon]"
                     size='2x'></fa-icon>
        </a>
    </mat-card-actions>
</mat-card>