<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
    <span fxFlex>Silvelo Website</span>
    <div fxFlex
         fxLayoutAlign="end center"
         fxLayout="row">
        <button mat-icon-button
                [matMenuTriggerFor]="menu"
                fxLayoutAlign="end center">
            <fa-icon [icon]="['fas','bars']"
                     size="2x"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item
               [routerLink]="nav.ref"
               fxLayout="row"
               fxLayoutGap="20px"
               fxLayoutAlign="start center"
               *ngFor="let nav of sidenav">
                <fa-icon [icon]="[nav.prefix, nav.icon]"
                         size="2x"></fa-icon>
                <span>{{nav.title}}</span>
            </a>
        </mat-menu>
    </div>
</mat-toolbar>