<mat-list-item>

  <img class="list-image"
       [src]="experience.company_logo">

  <div fxLayout="column">
    <span mat-line>
      <strong>{{experience.position}}</strong>
      <span class="date"><small>({{experience.start_date | timeTo: experience.end_date}})</small></span>
    </span>
    <span mat-line>{{experience.company_name}}</span>
    <span mat-line><small *ngIf="experience.end_date else actual"> {{experience.start_date | date: 'yyyy'}} -
        {{experience.end_date | date:'yyyy'}}</small></span>
    <ng-template #actual>
      <small>{{experience.start_date | date: 'yyyy'}} - actual</small>
    </ng-template>
  </div>

</mat-list-item>