<mat-card class="mat-elevation-z0">
    <mat-card-header fxLayout="column"
                     fxLayoutAlign="center center">
        <img mat-card-avatar
             [src]="me.profile">
        <mat-card-title fxLayoutAlign="center center">{{me.name}}</mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center">{{me.position}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions fxLayout="row"
                      fxLayoutAlign="space-between center">
        <a mat-icon-button
           *ngFor="let social of socialNetworks"
           [href]="social.url"
           target="_blank">
            <fa-icon [icon]="[social.prefix, social.icon]"
                     size="2x"></fa-icon>
        </a>
    </mat-card-actions>
</mat-card>



<mat-nav-list fxLayout="column"
              fxLayoutGap="5px">
    <a mat-list-item
       [routerLink]="[nav.ref]"
       [ngClass]="{'active-link': this.url === nav.ref}"
       *ngFor="let nav of sidenav">
        <div fxLayout="row"
             fxLayoutGap="20px"
             fxLayoutAlign="start center">
            <fa-icon [icon]="[nav.prefix, nav.icon]"
                     size="2x"></fa-icon>
            <span>{{nav.title}}</span>
        </div>
    </a>
</mat-nav-list>

<div fxLayout="row"
     fxLayoutAlign="center center">
    <span>Power By</span>
    <img class="img-responsive"
         src="/assets/images/butter.png">
</div>