:host {
  display: flex;
  box-sizing: border-box;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0;
  background-color: #e10098;
  width: 300px;
  min-width: 250px;
}

.active-link {
  background-color: #f4faff;
  border: 1px solid black;
  border-radius: 10px;
}

.mat-list-base {
  padding: 0 10px;
}

.mat-card {
  background-color: #e10098;
}

.mat-card-avatar {
  border: 5px solid #f4faff;
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}

.mat-card-header .mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

.mat-card-header .mat-card-subtitle {
  font-size: 14px;
  font-weight: bold;
}
