:host {
  flex-direction: column;
  box-sizing    : border-box;
  display       : flex;
  height        : 100%;
  padding-top   : 10px;
}

.border {
  padding: 5px;
}

.border-card {
  margin: 5px
}