<h1><strong>Portfolio</strong></h1>
<mat-divider></mat-divider>

<div fxLayout="row wrap"
     class="border"
     fxLayoutAlign="space-around">
  <mat-card *ngFor="let folio of portfolio"
            class="border-card"
            fxFlex="33"
            fxFlex.lt-lg="46"
            fxFlex.lt-sm="100">
    <mat-card-header>
      <mat-card-title>{{folio.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image
         [src]="folio.image"
         alt="background">
    <mat-card-actions align="end">
      <a mat-raised-button
         [href]="folio.url"
         target="_blank">Ver Proyecto</a>
    </mat-card-actions>
  </mat-card>
</div>