:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  flex: 1 1 0%;
  justify-content: space-around;
  
}

.mat-card-avatar {
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 70px;
  border-radius: 0;
  flex-shrink: 0;
  object-fit: cover;
}


::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0,0,0,.87);
} 

::ng-deep .mat-expansion-panel-header-description, .mat-expansion-indicator::after{
  color: rgba(0,0,0,.87);
}

::ng-deep .panel-title{
  font-size: 18px;
}
::ng-deep .panel-subtitle{
  font-size: 12px;
}