<div fxLayout="column"
     fxLayoutAlign="center space-between">
     <app-info-title [icon]="['fas', 'user-graduate']"
                     title="educación"></app-info-title>
     <app-panel-list [data]="education"
                     type='education'>
     </app-panel-list>
</div>


<div fxLayout="column"
     fxLayoutAlign="center space-between">
     <app-info-title [icon]="['fas', 'user-tie']"
                     title="Experiencia"></app-info-title>
     <app-panel-list [data]="experience"
                     type='experience'>
     </app-panel-list>
</div>



<div fxLayout="column"
     fxLayoutAlign="center space-between">
     <app-info-title [icon]="['fas', 'scroll']"
                     title="Certificados"></app-info-title>
     <app-panel-list [data]="certifications"
                     type='certificate'>
     </app-panel-list>
</div>