<mat-expansion-panel [hideToggle]="!description"
                     class="mat-elevation-z8">
    <mat-expansion-panel-header>
        <mat-panel-title fxLayout="column">
            <span class="panel-title">{{title | uppercase}}</span>
            <span class="panel-subtitle">{{subtitle | uppercase}}</span>
        </mat-panel-title>
        <mat-panel-description fxLayoutAlign="end center"
                               fxLayoutGap="5px">
            <fa-icon [icon]="['fas', 'calendar']"
                     size="1x"></fa-icon>
            <span>{{startDate | date: 'yyyy'}}</span>
            <span *ngIf="endDate">-</span>
            <span *ngIf="endDate">{{endDate | date: 'yyyy'}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{description}}</p>
</mat-expansion-panel>