<h2>Experiencia</h2>
<mat-list>
  <app-list-experience *ngFor="let exp of experience"
                       [experience]="exp"></app-list-experience>
</mat-list>



<h2>Publicaciones</h2>
<mat-list>
  <app-list-publications *ngFor="let publication of publications"
                         [publication]="publication"></app-list-publications>
</mat-list>

<h2>Reconocimientos y premios</h2>
<mat-list>
  <app-list-awards *ngFor="let award of awards"
                   [award]="award"></app-list-awards>
</mat-list>