<mat-list>
  <div mat-header>EXPERIENCIA</div>
  <div mat-subheader>Experiencia</div>

  <app-list-experience *ngFor="let exp of experience"
                       [experience]="exp"></app-list-experience>


  <div mat-subheader>Publicaciones</div>

  <app-list-publications *ngFor="let publication of publications"
                         [publication]="publication"></app-list-publications>


  <div mat-subheader>Reconocimientos y premios</div>

  <app-list-awards *ngFor="let award of awards"
                   [award]="award"></app-list-awards>
</mat-list>
