<mat-expansion-panel [disabled]="!showExpand">
  <mat-expansion-panel-header [collapsedHeight]="collapsedHeight"
                              [expandedHeight]="expandedHeight">
    <mat-panel-title fxFlex="15"
                     fxFlex.lt-md="10"
                     fxLayoutAlign="center center">
      <img [src]="logo"
           class="image"
           alt="college_logo">

    </mat-panel-title>

    <mat-panel-description fxFlex="80"
                           fxFlex.lt-md="90"
                           fxLayoutAlign="center center">
      <span fxFlex>{{title}}</span>
      <span fxFlex="{{endDate || showEndDate ? 30 :15}}"
            fxFlex.lt-md="{{endDate || showEndDate ? 35 :15}}"
            fxLayoutAlign="end"
            class="calendar">
        <mat-icon fontSet="fas"
                  [inline]="true"
                  fontIcon="fa-calendar-alt"></mat-icon>
        <span class="calendar-years">
          <span *ngIf="endDate; then thenBlock else elseBlock"></span>
        </span>
        <ng-template #thenBlock>{{startDate | date: 'yyyy'}} - {{endDate | date: 'yyyy'}}</ng-template>
        <ng-template #elseBlock>{{startDate | date: 'yyyy'}} <span *ngIf="showEndDate">
            - Actual</span></ng-template>
      </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-content>

  </ng-content>
</mat-expansion-panel>