:host {
  flex-direction: column;
  box-sizing    : border-box;
  place-content : center center;
  display       : flex;
  height        : 100%;
  padding-top   : 10px;
}


h1 {
  font-size  : 28px;
  font-weight: 600;
}

.text {
  font-size  : 15px;
  line-height: 1.65em;
}