<div fxFill
     fxLayout="column"
     fxLayoutAlign="center center">
  <h2> ¿Quien Soy?</h2>

  <p>Soy Arturo Silvelo Graduado en Ingeniería Informática, mi pasión son las nuevas tecnologías y programar, cosa que
    llevo haciendo desde que hace más de 10 años.
  </p>
  <p>
    En mis primeros proyectos empece a desarrollar webs con Javascript con la finalidad de aprender y en mi primer
    trabajo empece a usar Angular, Node y MongoDB. En mi proyecto de fin de grado me adentre en el mundo de la
    Inteligencia Artificial y el Big Data.
  </p>
  <p>
    El proceso de crear cosas programando lo aplico también a otra de mis aficiones, la impresión 3D. Empece en este
    mundillo comprando una impresora con mi primer sueldo.
  </p>



</div>
