<mat-expansion-panel [hideToggle]="!url && !publication"
                     [disabled]="!url && !publication"
                     class="mat-elevation-z8">
    <mat-expansion-panel-header>
        <mat-panel-title fxLayout="column">
            <span class="panel-title">{{title | uppercase}}</span>
            <span class="panel-subtitle">{{subtitle | uppercase}}</span>
        </mat-panel-title>
        <mat-panel-description fxLayoutAlign="end center"
                               fxLayoutGap="5px">
            <fa-icon [icon]="['fas', 'calendar']"
                     size="1x"></fa-icon>
            <span>{{startDate | date: 'yyyy'}}</span>
            <span *ngIf="endDate">-</span>
            <span *ngIf="endDate">{{endDate | date: 'yyyy'}}</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p fxLayout="row"
       fxLayoutAlign="space-around center">
        <a [href]="url"
           *ngIf="url"
           mat-stroked-button
           color="primary"
           target="_blank">
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 fxLayoutGap="5px">
                <fa-icon [icon]="['fas','certificate']"
                         size='1x'></fa-icon>
                <span>Certificado</span>
            </div>
        </a>
        <a [href]="publication"
           *ngIf="publication"
           mat-stroked-button
           color="primary"
           target="_blank">
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 fxLayoutGap="5px">
                <fa-icon [icon]="['fas','certificate']"
                         size='1x'></fa-icon>
                <span>Publicación</span>
            </div>
        </a>
    </p>
</mat-expansion-panel>