:host {
    display       : flex;
    flex-direction: column;
    height        : 100%;
  }
  
  mat-drawer {
    width  : 200px;
    padding: 10px;
  }
  
  mat-sidenav {
    width  : 200px;
    padding: 10px;
  }
  
  mat-sidenav-container {
    height: 100%;
  }
  