<mat-toolbar *ngIf="mobileQuery.matches">
  <button mat-icon-button
          (click)="snav.toggle()">
    <mat-icon fontSet="fas"
              [inline]="true"
              fontIcon="fa-bars"></mat-icon>

  </button>

</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #snav
              [opened]="!mobileQuery.matches"
              [mode]="mobileQuery.matches ? 'over' : 'side'">
    <app-sidenav-menu></app-sidenav-menu>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>