<mat-list-item fxLayout="column">

  <img class="list-image"
       [alt]="education.college_name"
       [src]="education.college_logo">

  <div fxLayout="column">
    <span mat-line><strong>{{education.degree}}</strong></span>
    <span mat-line>{{education.college_name}}</span>
    <span mat-line><small *ngIf="education.end_date else actual"> {{education.start_date | date: 'yyyy'}} -
        {{education.end_date | date:'yyyy'}}</small></span>
    <ng-template #actual>
      <small>{{education.start_date | date: 'yyyy'}} - actual</small>
    </ng-template>
  </div>

</mat-list-item>