<div fxFill
     fxLayout="column"
     fxLayoutAlign="center center">
  <h1> <strong>Hola</strong></h1>

  <h3>Soy Arturo Silvelo, Graduado en Ingeniería Informática.</h3>

  <p>
    En esta página podrás encontrar información acerca de mí.
    <br>
    Puedes seguirme, contactar y ver mis proyectos publicos en mis redes sociales.
  </p>

  <div fxLayout="row"
       fxLayoutAlign="space-around center"
       class="social">
    <a mat-icon-button
       href="https://twitter.com"
       target="_blank">
      <mat-icon class="social-icon"
                svgIcon="twitter"></mat-icon>
    </a>

    <a mat-icon-button
       href="https://linkedin.com"
       target="_blank">
      <mat-icon class="social-icon"
                svgIcon="linkedin"></mat-icon>
    </a>

    <a mat-icon-button
       href="https://github.com"
       target="_blank">
      <mat-icon class="social-icon"
                svgIcon="github"></mat-icon>
    </a>


  </div>
</div>
