<p *ngIf="description">
  {{description}}
</p>

<a mat-stroked-button
   target="_blank"
   *ngIf="publication_url"
   [href]="publication_url">
  <mat-icon fontSet="fas"
            [inline]="true"
            class="mat-icon.md-36"
            fontIcon="fa-bullhorn"></mat-icon>
  Publicación
</a>
<a mat-stroked-button
   *ngIf="certificate_url"
   target="_blank"
   [href]="certificate_url">
  <mat-icon fontSet="fas"
            [inline]="true"
            class="mat-icon.md-36"
            fontIcon="fa-certificate"></mat-icon>
  Diploma de Certificación
</a>