/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: "Helvetica", sans-serif;
}

.img-responsive {
  padding-left: 10px;
  max-width   : 120px;
  height      : auto;
}

.date {
  padding-left: 10px;
}

.list-image {
  width       : 100%;
  max-width   : 60px;
  height      : auto;
  margin-right: 25px;
}

.nav-list {
  border-bottom: 1px solid black;
}

.link-active {
  background-color: rgb(200, 200, 200, 0.4);
}

a .mat-icon {
  color: black;
}

.mat-icon.md-18 {
  height   : 18px;
  width    : 18px;
  font-size: 18px;
}

.mat-icon.md-24 {
  height   : 24px;
  width    : 24px;
  font-size: 24px;

}

.mat-icon.md-36 {
  height   : 36px;
  width    : 36px;
  font-size: 36px;
}


.mat-icon.md-48 {
  height   : 48px;
  width    : 48px;
  font-size: 48px;
}



@media (max-width: 400px) {
  .list-image {
    display: none;
  }
}