/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-line {
  word-wrap  : break-word !important;
  white-space: pre-wrap !important;
}

.mat-list-item {
  height: initial !important;
}

.mat-header {
  margin: 10px 0;

  font-size: 18px;
}

.full-width {
  width: 100%;
}

.img-responsive {
  max-width: 120px;
  height   : auto;
}