/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

.img-responsive {
  width: 100%;
  max-width: 160px;
  height: auto;
}

@media screen and (max-width: 959px) {}

//  lt-lg
@media screen and (max-width: 1279px) {}

//  lt-sm
@media screen and (max-width: 599px) {}
