<!-- <div *ngFor="let publication of publications">
    {{publication?.title }}
    {{publication?.editorial}}
    {{publication?.publication_date}}
    {{publication?.author}}
    {{publication?.publication_url}}
    {{publication?.description}}
    {{publication?.editorial_logo}}
    {{publication?.certificate_url}}
</div>

<div *ngFor="let award of awards">
    {{award?.title }}
    {{award?.issuer}}
    {{award?.description}}
    {{award?.expedition}}
    {{award?.issuer_logo}}
    {{award?.certificate_url}}
</div>
 -->
<div fxLayout="column"
     fxLayoutAlign="center space-between">
    <app-info-title [icon]="['fas', 'scroll']"
                    title="Publicaciones"></app-info-title>
    <app-panel-list [data]="publications"
                    type='publication'>
    </app-panel-list>
</div>

<div fxLayout="column"
     fxLayoutAlign="center space-between">
    <app-info-title [icon]="['fas', 'user-tie']"
                    title="Premios"></app-info-title>
    <app-panel-list [data]="awards"
                    type='award'>
    </app-panel-list>
</div>